*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main{
    background-color: black;
    color: white;
    padding: 200px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: black;
 
    color: white;
    text-align: center;
   
  }

  h1.h1{
      font-size: 100px;
  }

 h1+p{
      font-size: 25px;
      color: grey;
  }
#row1 {
    margin-top: 100px;
}
#row2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

i.bi.bi-star-fill{
    color: gold;
}
a.btn.btn-primary{
    background-color: white;
    border-color:black;
    color:black;
    
}
.card-body{
    text-align: center;
    height: 200px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 50px;
}
#footer{
    color: white;
}

.strike{
    text-decoration: line-through;
}