*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar-brand{
    padding-left: 100px;
}

#navbar{
    background-color: black;
    text-decoration: none;
    color: white;
}


.row{
    list-style-type: none;
}

#main{
    margin-top: 50px;
    margin-bottom: 50px;
}

#middlecard{
    padding: 30px;
    background-color: rgb(53, 50, 50);
    color: white;
    text-align: center;
}

#card{
    margin-top: 50px;
    margin-bottom: 50px;
}



footer{
    background-color: black;
    text-align: center;
    padding: 50px;
}
#footer{
    color: white;
}

div.card-footer{
    margin:0;
   
}